
.DS_Store
*.opensdf
*.sdf
*.suo
*.user
bin/build
Haunted Castle/*.user
Haunted Castle/*.suo
build-Debug
*.pdb
*.tlog
*.log
*.idb
*.lastbuildstate
build-Debug/Haunted Castle.tlog/Haunted Castle.lastbuildstate
*.ilk
build-Release
Release
.vs
*.zip
.idea/
*.exe
