Biuld/
Release/
build-Debug
bin/build
Haunted Castle/*.user
Haunted Castle/*.suo*.pdb
.vs
.DS_Store
*.opensdf
*.sdf
*.suo
*.user
*.tlog
*.log
*.pdb
*.tlog
*.obj
*.log
*.tlog

*.idb
*.lastbuildstate
*.ilk
*.zip
*.lastbuildstate
